.text {
    padding: 100px 0;
}

.box p {
    font-size: 18px;
}

.red {
    color: orangered;
}

.redline {
    width: 1280px;
    height: 3px;
    background-color: red;
    border: none;
}

.touch h2 {
    padding-top: 20px;
    text-align: center;
}

.form-margin {
    margin-top: 40px;
}

.left {
    text-align: left;
}

.site-footer {
    background-color: var(--secondary-color);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #fff;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #fff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
}

.site-footer .social-icons a:hover {
    background-color: var(--accent-color);
    color: #fff;
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.browse-card {
    background: #fff;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body h1 {
    font-size: 1.2rem;
    line-height: 1.1rem;
    margin-bottom: 4px;
    color: var(--secondary-color);
}

.card-body p {
    color: var(--other-color-1);
}

.card-body h1 a {
    color: var(--secondary-color);
}

.card-header {
    height: 50%;
}

.card-img {
    height: 100%;
    background-size: contain;
    position: relative;
}

.card-body {
    padding: 24px;
    font-size: 0.9rem;
}

.rating ul {
    padding: 10px;
}

.rating li {
    display: inline;
    color: #EFA127;
}

.rating li:hover {
    color: #FFA517;
    cursor: pointer;
}

.bg-primary {
    background-color: var(--primary-color);
}

input {
    font-family: inherit;
    border: 2px #e7e7e7 solid;
    border-radius: 50px;
    /* border-bottom: 1px solid var(--secondary-color); */
    padding: 15px 30px;
    font-size: 20px;
    margin: 10px 5px;
    display: block;
    width: 100%;
}

input:focus {
    outline: none;
    border: 3px #E07A5F solid;
    border-radius: 50px;
}

textarea {
    width: 100%;
    border: 2px #e7e7e7 solid;
    border-radius: 20px;
}

textarea:focus {
    outline: none;
    border: 3px #E07A5F solid;
}

.btn {
    display: block;
    width: 100%;
    border-radius: 50px;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.signup-img {
    height: 100vh;
}

.text-accent {
    color: var(--accent-color)
}

.sticky+.hero {
    margin-top: 70px;
}

.w-sm {
    width: 200px im !important;
}

.card-listing {
    background: #fff;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.card-listing-img {
    position: relative;
    object-fit: contain;
    margin: 0 auto;
    width: 50%;
    min-width: 150px;
    max-width: 100%;
    min-height: 100%;
}

.card-listing h2 {
    margin: 10px;
}

.card-listing p {
    text-align: justify;
    margin: 10px;
}

.wander-green {
    color: var(--other-color-1);
}

/* Inspired By Codepen */
.tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.tabs>li {
    transition-duration: 0.25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tabs>li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}

.tabs>li.active {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.3rem;
}

.tab-content {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.tab-content>li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
}

.tab-content>li .tab-content-container {
    width: 100%;
    padding-top: 20px;
    background-color: white;
    overflow: visible;

}

.tab-content-container h2 {
    width: 100%;
    padding-bottom: 20px;
    font-weight: 300;
}

.tab-content-container img {
    width: 100%;
    height: auto;
}

.gallery-container {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%;
}

.img-box {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow: hidden;
}

.zoom:hover {
    position: relative;
    transform: scale(3);
    transform-origin: right;
    transition: 0.5s ease-in-out;
    z-index: 9999;
}

.video-container {
    width: 100%;
    padding: 10px;
    background: white;
    display: inline-block;
}

.responsive-video {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-video iframe,
.responsive-video video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.quotes {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    margin: 0 8px;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-left {
    align-items: flex-start;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.strong {
    font-weight: bold;
}

.text-accent {
    color: var(--accent-color);
}

.border-l-yellow {
    border-left: 4px var(--other-color-2) solid;
}